// out: null

// global styles 
/* !Sections --------------------------------------------------- 
    Core styles for the d-sections
*/

/* clases

.d-section (basic drupal section)

//modififers 
.d-section--alignment-none (image above text default)
.d-section--alignment-center(image on top with text centered)
.d-section--alignment-left (media floated left)
.d-section--alignment-right (media floated right)


// Project specific modifiers 
// these change from project to project and accect elemnts in the block
.d-section--style-1 (normally a background color)
.d-section--style-2 (normally a background color)
*/

.d-section--alignment-center {
    text-align: center;   
}
.d-section--alignment-right {
    text-align: right;   
}



// Component in situ 

//Project specific components ---------------------------------

// White
.d-section--style-1 {
    background-color: @white;
}

.d-section--style-text{
    p{
        font-size: 1.25em;
        margin-top: .625em;
    }
}
// Brown
.d-section--style-3 {
    background-color: @highlight--color-3;
    color: @white;
    position: relative;
}

// Beige
.d-section--style-4 {
    background-color: @highlight--color-9;
}

// Grey
.d-section--style-6 {
    background-color: @highlight--color-6;
    color: @white;
}

// Typography 
.d-section--style-banner .title, .d-section--style-text .title {
    margin-top: 0;
    font-weight: normal;
    letter-spacing: 6px;
}
// Typography 
.d-section--style-1 .title {
    margin-top: 0;
    font-family: @font-stack__adamina__serif;
    font-weight: normal;
    letter-spacing: 10px;
}

.d-section--style-banner .subtitle, .d-section--style-text .subtitle {
    //font-family: 'Open Sans',sans-serif;
    //font-weight: 100;
    letter-spacing: .5em;
    //margin-bottom: 1em;
    display: inline-block;
    padding: 1em 0 1em;
    margin-top: 0;
}
.o-splash__hgroup--text .subtitle{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
    font-size: 1.4375em;
    padding: 0 0 1.5em;
    margin-bottom: 1.5em;
}
.d-section--style-text .subtitle{letter-spacing: normal;
    max-width: 11em;
    text-transform: none;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: inline-block;
    padding: 1em 0 1em;
    margin-top: 0;
    font-size: 1.25em;
    &:after{
        display: block;
        content: "";
        margin: .75em auto 0;
        width: 2.5em;
        height: 1.25em;
    }
}
.d-section--style-1{
    .title{
        font-size: 2.655625em;
        color: @highlight--color-8;
        font-family: @font-stack__adamina__serif !important;
        letter-spacing: normal !important;
        text-transform: none;
    }
    .subtitle{
        position: relative;
        color: #828180;
        &:after{
            bottom: -1em;
            left: 38%;
            background: url(../img/down_arrow.png) no-repeat center;
        }
    }
}
.d-section--style-4{
    .hgroup{
        position: relative;
        .title{
            color: @grey--light-5;
        }
        .subtitle{
            color: #828180;
            &:after{
                bottom: 0;
                left: 46.5%;
                background: url(../img/down_arrow.png) no-repeat center;
            }
        }
    }
}
// Dark green
.d-section--style-5 {
    background-color: @highlight--color-5;
    color: @white;
    .title{
        font-size: 2.655625em;
        text-transform: none;
        font-family: @font-stack__adamina__serif;
    }
}

// Green
.d-section--style-2 {
    background-color: @highlight--color-2;
    color: @highlight--color-7; 
    .title{
        font-size: 2.655625em;
        font-family: @font-stack__adamina__serif;
        letter-spacing: normal;
        text-transform: none;
    }
}