// out: null

// Media Queries for components
/* !Sections --------------------------------------------------- 
    Core styles for the d-sections
*/

/* clases for d-section

.d-section (basic drupal section)

//modififers 
.d-section--alignment-none (image above text default)
.d-section--alignment-center(image on top with text centered)
.d-section--alignment-left (media floated left)
.d-section--alignment-right (media floated right)
*/


.d-section--style-banner{
    .title{
        font-size: 4.875em;
        letter-spacing: 14px;
        font-family: @font-stack__agency__sans;
        .min-width-max(.1em{
            font-size: 4em;
        }43.5em);
    }
    .subtitle{
        .min-width-max(.1em{
            font-size: 1.275em;
        }38.8em);
    }
} 

.d-section--style-text .subtitle {
    &:after{
        background: url(../img/down_arrow_white.png) no-repeat center;
        bottom: 1em;
        left: 47%;
        position: absolute;
        .min-width-max(.1em{
            left: 44%;
        }39.99em);
    }
}
// Component in situ 
